# DockerHub Organisation
DOCKER_REGISTRY=dloc
# DockerHub login credentials
DOCKER_USERNAME=
DOCKER_PASSWORD=

# Path and filename of tagged compose file
COMPOSE_FILE_PATH=build
COMPOSE_FILE_NAME=docker-compose.latest.yml

# ECS project name for the server
SERVER_PROJECT_NAME=server

# Path and filename of server-specific compose file
SERVER_BUILD_PATH=build
SERVER_BUILD_FILE=docker-compose.server.yml

# ECS project name for the redis server
REDIS_PROJECT_NAME=database

# Path and filename of redis-specific composer file
REDIS_BUILD_PATH=build
REDIS_BUILD_FILE=docker-compose.redis.yml

# Redis internal port
REDIS_PORT=6379
REDIS_EXTERNAL_PORT=32770

# DockerHub image for ambassador
AMBASSADOR_IMAGE=jpetazzo/hamba

# ECS cluster name
ECS_CLUSTER_NAME=d-loc-routing-server

# KMS information
KMS_ALIAS=alias/d-loc-kms

# Production ENV file
ENV_FILE=.env
ENV_BUCKET=

# AWS login credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-west-1